.mysql-source-code .token.comment,
.mysql-source-code .token.prolog,
.mysql-source-code .token.doctype,
.mysql-source-code .token.cdata {
    color: var(--code-comment);
    font-style: italic;
}

.mysql-source-code .token.punctuation {
    color: var(--code-punctuation);
}

.mysql-source-code .token.namespace {
    opacity: 0.7;
}

.mysql-source-code .token.property,
.mysql-source-code .token.tag,
.mysql-source-code .token.boolean,
.mysql-source-code .token.number,
.mysql-source-code .token.constant,
.mysql-source-code .token.symbol,
.mysql-source-code .token.deleted {
    color: var(--code-value);
}

.mysql-source-code .token.selector,
.mysql-source-code .token.attr-name,
.mysql-source-code .token.string,
.mysql-source-code .token.char,
.mysql-source-code .token.builtin,
.mysql-source-code .token.inserted {
    color: var(--code-string);
}

.mysql-source-code .token.operator,
.mysql-source-code .token.entity,
.mysql-source-code .token.url,
.mysql-source-code .language-css .token.string,
.mysql-source-code .style .token.string {
    color: var(--code-operator);
}

.mysql-source-code .token.atrule,
.mysql-source-code .token.attr-value,
.mysql-source-code .token.keyword {
    color: var(--code-keyword);
}

.mysql-source-code .token.function,
.mysql-source-code .token.class-name {
    color: var(--code-function);
}

.mysql-source-code .token.regex,
.mysql-source-code .token.important,
.mysql-source-code .token.variable {
    color: var(--code-tag);
}

.mysql-source-code .token.important,
.mysql-source-code .token.bold {
    font-weight: bold;
}

.mysql-source-code .token.italic {
    font-style: italic;
}

.mysql-source-code .token.entity {
    cursor: help;
}